<h2>🎧 Music</h2>
<div class="description">
	Handful of my playlists on Spotify. 
	Always on the lookout for new songs, so if you have any recommendations, please share!
</div>
<div class="list songs">
	
	<div class="row">

		<a class="song" href="https://open.spotify.com/playlist/5JNd8M6q4Buizp0SmaKgsW?si=ONeObxruSv29IeMBgrSa7g" target="_blank">
			praise 🙌
		</a>

		<a class="song" href="https://open.spotify.com/playlist/4Y5GAFPNmNTUfAsmK8Z64J?si=01pjktHyR9iNlV9R00un9g" target="_blank">
			favs ❤️
		</a>

		<a class="song" href="https://open.spotify.com/playlist/5yU4zbVfi4WxCEeZehDrZH?si=qPZEmHZ_TWOuZ8TI_85jEQ" target="_blank">
			cozy ☕
		</a>

	</div>



	<div class="row">

		<a class="song" href="https://open.spotify.com/playlist/165zRxoO58LcoqZq74cg9Y?si=TaNPRKoJS76alXe703uJWQ" target="_blank">
			sweet 🍦
		</a>

		<a class="song" href="https://open.spotify.com/playlist/4NStD5CktaK4L0yZt1tX7r?si=5JwxGyzhQGqWU4ddfg9xeQ" target="_blank">
			spanish 💃
		</a>

	</div>


</div>
