<h2>👩‍💻 Professional Info</h2>
<div class="professional">
	I am currently working as a 
	<div class="underline first">
	lead software engineer</div> 
	based in MA.
	Recently, I completed a Masters in Computer Information Systems (MSCIS) at Boston University, where I studied enterprise architecture and project management. 
	<p>
		Previously, I worked as a software engineer at 
		<a class="kr" href="https://www.fastcompany.com/40588729/the-air-force-learned-to-code-and-saved-the-pentagon-millions" target="_blank">Kessel Run</a> (KR).

		There, I worked with different product teams to develop and deliver applications for mission planning, report, and analysis. We applied 
		<span class="underline second">
			Agile/DevSecOps
		</span> 
		and 
		<span class="underline third">
			extreme programming (XP)
		</span>  principles through continuous integration and delivery (CI/CD), test-driven development (TDD), and pair-programming.
	</p>


</div>
