<h2>🔖 Fun Reads</h2>
<div class="description">
These days I enjoy reading and learning about product design on Medium. 
If you have fun articles to share, let me know!
</div>
<div class="list articles">
	
	<div class="row">

		<div class="article">
			<div class="title">
				<a href="https://uxdesign.cc/the-worst-volume-control-ui-in-the-world-60713dc86950" target="_blank">
					Worst volume control UI in the world
				</a>
			</div>
			<div class="author">- Fabricio Teixeira</div>
		</div>

		<div class="article">
			<div class="title">
				<a href="https://medium.com/@vanschneider/the-kawaiization-of-product-design-1f0b1269e1d4" target="_blank">
					Kawaiization of product design
				</a>
			</div>
			<div class="author">- Tobias van Schneider</div>
		</div>

	</div>


	<div class="row">
		<div class="article">
			<div class="title">
				<a href="https://uxdesign.cc/7-principles-of-icon-design-e7187539e4a2" target="_blank">
					Seven Principles of Icon Design
				</a>
			</div>
			<div class="author">- Helena Zhang</div>
		</div>

		<div class="article">
			<div class="title">
				<a href="https://medium.com/swlh/design-system-based-on-the-8pt-grid-2473ca5f0ae1" target="_blank">
					Design System based on the 8pt Grid
				</a>
			</div>
			<div class="author">- Isaac Sheptovitsky</div>
		</div>
	</div>
</div>